[package]
name = "bathtub"
version = "0.1.0"
authors = ["13r0ck <bnr@tuta.io>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serial = "0.4"
toml = "0.5.8"
serde = { version = "1.0.120", features = ["derive"] }
